<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Working-with-Files" data-toc-modified-id="Working-with-Files-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Working with Files</a></span></li><li><span><a href="#Plotting-Basics" data-toc-modified-id="Plotting-Basics-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Plotting Basics</a></span></li><li><span><a href="#Summary-Stats" data-toc-modified-id="Summary-Stats-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary Stats</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Question-1" data-toc-modified-id="Question-1-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Question 1</a></span></li><li><span><a href="#Question-2" data-toc-modified-id="Question-2-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Question 2</a></span></li><li><span><a href="#Question-3" data-toc-modified-id="Question-3-3.0.3"><span class="toc-item-num">3.0.3&nbsp;&nbsp;</span>Question 3</a></span></li><li><span><a href="#Question-4" data-toc-modified-id="Question-4-3.0.4"><span class="toc-item-num">3.0.4&nbsp;&nbsp;</span>Question 4</a></span></li><li><span><a href="#Question-5" data-toc-modified-id="Question-5-3.0.5"><span class="toc-item-num">3.0.5&nbsp;&nbsp;</span>Question 5</a></span></li></ul></li></ul></li></ul></div>

# Working with Files

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
import statistics
%matplotlib inline

In [ ]:
#purchases = pd.read_csv('purchases.csv')
#purchases.to_csv('test.csv')

#j_purchases = pd.read_json('purchases.json')
#j_purchases.to_json('json_purchases.json')
lines = []
with open('purchases.csv') as purchases:
    purchases = purchases.readline()
    for line in purchases:
        lines.append(line)
#"".join(lines)

# Plotting Basics

In [ ]:
#import data
df = pd.read_csv('planecrashinfo_20181121001952.csv')

In [ ]:
#explore

#df.head()
#df.describe()
len(df)

In [ ]:
#keep top 10 freq crash locations
columns_drop = ['flight_no', 'ac_type', 'registration', 
                'cn_ln', 'aboard', 'ground', 'summary']
df.drop(columns = columns_drop, inplace = True)

locations = []
freq_loc = []
cnt_loc = Counter(df['location'])
common_loc = cnt_loc.most_common(10)
for key, value in common_loc:
    locations.append(key)
    freq_loc.append(value)
df = df[df['location'].isin(locations)]
#drop irrelevant colomns

In [ ]:
df['total_fatalities'] = [i.split()[0]for i in df['fatalities']]
df['month_date_num'] = [i.split(' ',) for i in df['date']]

months = {'Janauary': 1,
'February': 2,
'March': 3,
'April': 4,
'May':5,
'June': 6,
'July': 7,
'August': 8,
'September': 9,
'October': 10,
'November': 11,
'December': 12}

df['month_date_num'] = [months[i] for i in df['month_date_num']]

In [ ]:
df

In [ ]:
#explore data

plt.figure(figsize=(10,5))

plt.subplot(2,2,1)
x = np.arange(0,20,2)
plt.barh(locations, freq_loc)
plt.xticks(x)
#year to casuaties
plt.subplot(2,2,2)
plt.scatter(df['time'], df[])

2-3 sentences description

# Summary Stats

In [2]:
kids = {'greg': 14,
        'marcia': 12,
        'peter': 11,
        'jan': 10,
        'bobby': 8,
        'cindy': 6,
        'oliver': 8}
df = pd.DataFrame()
df['names'] = kids.keys()
df['age'] = kids.values()
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

### Question 1 

1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch.  Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [3]:
mean = np.mean(df)
median = np.median(df['age'])
mode = statistics.mode(df['age'])
var = np.var(df)
std = np.std(df, ddof=1)
stand_error = std / np.sqrt(len(df))
stand_error

age    1.033454
dtype: float64

### Question 2

2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

I would choose the mean as the best measurement to describe the data. Since the dataset is very small it not beneficial to use the mode or median. As for variance, I would use the std since it will give insight on the age range of the data. Since the std is quite small, we can assume that the range of ages will be small too. The standard error wouldn't be beneficial since there is no uncertainty with the data.

### Question 3
3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [7]:
#change cindy's age
df.loc[5,'age'] = 9
df.describe()

        names  age
count       7    7
unique      7    7
top     peter   14
freq        1    1

In [5]:
mean = np.mean(df)
median = np.median(df['age'])
mode = statistics.mode(df['age'])
var = np.var(df)
std = np.std(df, ddof=1)
stand_error = std / np.sqrt(len(df))
stand_error

age    0.837066
dtype: float64

The mean increased by around .5, std decreased by .5, standard error decreased by .1. The mode and median remained the same.

### Question 4
4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again.  Does this change your choice of central tendency or variance estimation methods?

In [18]:
df.loc[6, 'names'] = 'Jessica'
df.loc[6, 'age'] = '1'
#why does the describe attr change? 
df.describe()

        names  age
count       7    7
unique      7    7
top     peter   14
freq        1    1

### Question 5
5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show.  The answers were:
    TV Guide            20% fans
    Entertainment Weekly    23% fans
    Pop Culture Today       17% fans
    SciPhi Phanatic     5% fans

 Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

In [16]:
answer = np.mean([23, 20, 17])
answer

20.0

I actually didn't know what the Brady Bunch were so after I found out they were a sitcom, I realized that the SciPhi Phanatic community doesn't represent the population and is probably more biased. The other 3 probably represent the general population alot better. Knowing that, I took the average of the three and I would estimate that 20% of the adult Americans were fans of anniversary show.